[Unit]
# descrição que aparece nos logs e no status do systemctl
Description=Blink LED Service (Bash)
# define que o serviço só inicia após o ambiente multi-usuário estar pronto
After=multi-user.target

[Service]
# comando exato para iniciar o serviço (caminho absoluto obrigatório)
ExecStart=/home/sel/blink.sh
# define o usuário que executará o serviço 
User=SEL

[Install]
# define em qual "target" (grupo de inicialização) o serviço será habilitado
WantedBy=multi-user.target